.card{
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
    min-width: 345px;
    width: auto;
    max-width: 345px;
    min-height: 595px;
    height: auto;
    max-height: 595px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img.card__img{
        overflow: hidden;
        border-radius: 15px 15px 0 0;
    }
    div.card__detail{
        padding: 1.5625rem;
        width: 100%;
        height: auto;
        min-height: 320px;
        display: flex;
        flex-direction: column;
        h3.card__detail__tag{
            font-family: 'Montserrat';
            font-size: 0.5rem
        }
        h2.card__detail__tittle{            
            font-family: 'Fraunces';
        }
        p.card__detail__paragraph{
            font-family: 'Montserrat';
            font-size: 0.875rem;
        }
        span.card__detail__price{            
            font-family: 'Fraunces';
            font-size: 1.5rem;
            color: rgb(61,129,104);
        }
        span.card__detail__oldPrice{            
            font-family: 'Montserrat';
            font-size: 0.8rem;
            text-decoration: line-through;
        }
        button.card__detail__button{
            width: 100%;
            border-radius: 5px;
            border-style: none;
            padding: 0.75rem;
            font-family: 'Montserrat';
            font-size: 0.8rem;
            background-color: rgb(61,129,104);

        }
    }
    
}