@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");
* {
  margin: 0%;
  padding: 0%; }

html {
  font-family: 'Courier New', Courier, monospace; }

h1 {
  align-self: center; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  max-height: 500px;
  height: auto;
  min-height: 250px;
  margin: 1rem 0 1rem 0; }

.header__tittle {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0 0.5rem 0; }

.header__paragraph {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0 0.5rem 0; }

body {
  display: flex;
  flex-direction: column; }

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.section__main {
  width: 100vw;
  height: auto;
  min-height: 400px;
  max-height: 800px; }

.section__tittle {
  font-weight: 800;
  padding: 0.5rem 0 0.5rem 0;
  margin: 0.25rem 0 0.25rem 0; }

.section_paragraph {
  padding: 1rem;
  margin: 0.25rem 0 0.25rem 0; }

.footer {
  width: 100vw;
  height: auto;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.footer--color {
  background-color: #635380; }

.footer__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: auto;
  min-height: 50px;
  max-height: 250p;
  padding: 1rem;
  margin: 1rem; }

.button {
  padding: 0.5rem;
  margin: 0.25rem;
  border-radius: 15px; }

.button--header {
  width: 50%;
  background-color: #635380; }

.card {
  min-width: 345px;
  width: auto;
  max-width: 345px;
  min-height: 595px;
  height: auto;
  max-height: 595px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .card img.card__img {
    overflow: hidden;
    border-radius: 15px 15px 0 0; }
  .card div.card__detail {
    padding: 1.5625rem;
    width: 100%;
    height: auto;
    min-height: 320px;
    display: flex;
    flex-direction: column; }
    .card div.card__detail h3.card__detail__tag {
      font-family: 'Montserrat';
      font-size: 0.5rem; }
    .card div.card__detail h2.card__detail__tittle {
      font-family: 'Fraunces'; }
    .card div.card__detail p.card__detail__paragraph {
      font-family: 'Montserrat';
      font-size: 0.8rem; }
    .card div.card__detail span.card__detail__price {
      font-family: 'Fraunces';
      font-size: 1.25rem;
      color: #3d8168; }
    .card div.card__detail span.card__detail__oldPrice {
      font-family: 'Montserrat';
      font-size: 0.8rem;
      text-decoration: line-through; }
    .card div.card__detail button.card__detail__button {
      width: 100%;
      border-radius: 5px;
      border-style: none;
      padding: 0.75rem;
      font-family: 'Montserrat';
      font-size: 0.8rem;
      background-color: #3d8168; }

img.image {
  max-width: 250px;
  width: 200px;
  min-width: 150px;
  height: 200px; }

.navbar {
  width: 100vw;
  height: auto;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.navbar--light {
  background-color: #90708C; }
